:root {
    --familia-corpo:'Pacifico', cursiva;
    --familia-logo:'MonteCarlo', cursiva;
    --familia-titulo: 'Alegreya', serifada;;

    --cor-fundo:#E0FFFF;
    --fundo-destaque:#191970;
    --fundo-secao:	#085c08;
    --preto: #000000;
    --branco: #ffffff;
}
.escondeVisualmente {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }